{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="title" content="Todo App {% block meta_title %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta property="og:url" content="{{ request.get_full_path }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Todo App: {% block meta_og_title %}{% endblock %}" />
        <meta property="og:description" content="{% block meta_og_description %}{% endblock %}" />
        <meta property="og:image" content="" />
        <title>Todo App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div>
                        WELCOME {{ user.username }}
                    </div>
                            <div class="collapse navbar-collapse" id="navbarNav">
                              <ul class="navbar-nav">
                                <li class="nav-item active">
                                  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="{% url 'create' %}">Create</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="{% url 'list' %}">All Messages</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                                </li>
                              </ul>
                            </div>
                          </nav>
            </header>
                {% block body %}{% endblock %}
            {% block extra_js %}{% endblock %}
        </div>
    </body>
</html>
        