{% extends 'layout.html' %}

{% block body %}
    <p>LETS DO THIS</p>
    <a href="/logout">LOGOUT</a>
    <div class="tweet-container">
        <h2>SEARCH FORM</h2>
        <div>
            <form id="{{ searchFormID }}" action="/home" method="GET">
                    <!-- Input value to show last search item -->
                    <input type="text" name="q_set" placeholder="search tweets">
                    <input type="submit" class="btn btn-primary">
                </form>
        </div>

    </div>
    
    {% block script %}  
    <script>

        // function getParameterByName(name, url) {
        //     if (!url) url = window.location.href;
        //     name = name.replace(/[\[\]]/g, '\\$&');
        //     var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        //         results = regex.exec(url);
        //     if (!results) return null;
        //     if (!results[2]) return '';
        //     return decodeURIComponent(results[2].replace(/\+/g, ' '));

        $(document).ready(function(){
        console.log("working");

        // var query = getParameterByName('q')
        // console.log("query submitted", query)

        $.ajax({
            url: "/api/tweets/all_messages/",
            // data: { "q": query },
            method: "GET", 
            success: function(data){
                // console.log(data)},
                $.each(data, function(key, value){
                    console.log(key)
                    console.log(value.text)
                    console.log(value.creator)
                    var tweetKey = key
                    var tweetContent = value.text
                    var tweetUser = value.creator
                    $(".tweet-container").append(
                        "<li>" + tweetContent + "</li>"
                    )
                })
            },
            error: function(data) {
                console.log("error")
                    console.log(data)
            }
                    });
            })
        // }
    </script>
    {% endblock script %}
{% endblock %}