{% extends 'layout.html' %}

{% block body %}
    <p>LETS DO THIS</p>
    <a href="/logout">LOGOUT</a>
    <div class="tweet-container">
        <div class="row">
            <div class="col-sm-6">
                <h2>SEARCH FORM</h2>
                <div>
                    <form id="{{ searchFormID }}" action="/home" method="GET">
                        <!-- Input value to show last search item -->
                        <input type="text" name="q_set" placeholder="search tweets" value="{{ request.GET.q_set }}">
                        <input type="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
            <div class="col">
                <!-- Using template engine to load reusable form and specitying tempalte variables -->
                {% include "tweets/form.html" with form=create_form btn_title="CREATE" %}
            </div>
        </div>
            

    </div>
    
    {% block script %}  
    <script>
        $(document).ready(function(){
        // Function to get parameter for use with api_filter
        var query = getParameterByName('q_set')
        var tweetList = [];

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        // Function to update html with update information if tweets search returns results
        function parseTweets(){
            $.each(tweetList, function(key, value){
                console.log(key)
                console.log(value.text)
                console.log(value.creator)
                var tweetKey = key
                var tweetContent = value.text
                var tweetUser = value.creator
                $(".tweet-container").append(
                    "<li>" + tweetContent + "</li>"
                )
            })
        }

        // Ajax function checking for length of search result and displaying tweet or "no results message"
        $.ajax({
            url: "/api/tweets/all_messages/",
            data: { "q": query },
            method: "GET", 
            success: function(data){
                tweetList = data
                console.log("data results"),
                console.log(data.length);
                if(data.length < 1){
                    $(".tweet-container").html(
                        "<div class='jumbotron'"+
                        "<h1>" + "NO MATCHING TWEETS" + "</h1>"+"</div>"
                    );
                    return;
                }
                parseTweets()
            },
            error: function(data) {
                console.log("error in search", data)
            }
                    });
            })
    </script>
    {% endblock script %}
{% endblock %}


<!-- FILTERING FOR HOME NOT YET WORKING -->