{% extends 'layout.html' %}
{% load staticfiles %}

{% block body %}
    <p>LETS DO THIS</p>
    <a href="/logout">LOGOUT</a>
    <div class="tweet-container">
        <div class="row">
            <div class="col-sm-6">
                <h2>SEARCH FORM</h2>
                <div>
                    <form action="/home" method="GET">
                        <!-- Input value to show last search item -->
                        <input type="text" name="q_set" placeholder="search tweets" value="{{ request.GET.q_set }}">
                        <input type="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
            <div class="col">
              <div class="jumbotron">
                  <!-- Ajax method to send form -->
                  <form id="tweet-form" action="" method="post">
                    {% csrf_token %}
                    {{ create_form.as_p }}
                    <small class="form-text text-muted">Entry must contain "django"</small>
                    <input type="submit" class="btn btn-success" value="CREATE">
                </form>
                </div>
            </div>
        </div>
            

    </div>
    
    {% endblock %}
    {% block script %}  
    <script src="{% static 'tweets/jquery.js' %}">      
    </script>
    {% endblock script %}
    
    
    <!-- FILTERING FOR HOME NOT YET WORKING -->