<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TODO</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            {% if messages %}
            <div class="alet alert-success alert-dismissable">
            {% for message in messages%} 
            <p class="close" data-dismiss="alert" aria-label="close">{{ message }}</p>
            {% endfor %} 
            </div> 
            {% endif %}

            {% load crispy_forms_tags %}
            <div class="jumbotron">
                <h1>REGISTER</h1>
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" class="btn btn-success" value="REGISTER">
                </form>
                <a href="{% url 'login' %}">Already have an account? Login.</a>
            </div>
        </div>
    </body>
</html>